#Chat-root {
  height: 100vh;
  background: #c5ddeb;
  display: flex;
  align-items: center;
  align-content: center;

  .chat {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 500px;
    height: 80%;
    margin: 0 auto;
    background: #fff;
  }
}
