.form{
    &.login{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50%;
        min-width: 350px;
        background-color: $secondary;  
        background-image: linear-gradient(to top, rgba(159,236,237,1) 0%, rgba(1,205,207,1) 20%, rgba(0,87,146,1) 78%);
        padding: 75px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        text-align: center;

        input, button{
            display: block;
            margin: 15px auto;
        }
        input{
            border: unset;
            padding: 6px;
        }
        button{
            background-color: transparent;
            border: 2px solid $white;
            color: $white;
        }
    
    }
}