$max-width: 1100px;
$max-second-width: 690px;
$max-third-width: 405px;

$primary: #ea7070;
$second: #8ac6d1;

$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$width1: 100%;
$width2: 50%;

@mixin tablet {
  @media (max-width: #{$max-width}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$max-second-width}) {
    @content;
  }
}

@mixin xphone {
  @media (max-width: #{$max-second-width}) {
    @content;
  }
}

.react-multi-carousel-list{
  width: 50vw;
  height: 60vh;
  margin: 30px;
  border-radius:5px ;
  border: solid 2px #ff3f55;
img{
  height: 500px;
}

}