$max-width: 1100px;
$max-second-width: 690px;
$max-third-width: 405px;

$primary: #ea7070;
$second: #8ac6d1;
$hoverBgColor2: #8293ff;
$hoverBgColor : #503bff;


$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$width1: 100%;
$width2: 50%;
@import url('https://fonts.googleapis.com/css2?family=Trochut:ital@1&display=swap');


@mixin tablet {
  @media (max-width: #{$max-width}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$max-second-width}) {
    @content;
  }
}

@mixin xphone {
  @media (max-width: #{$max-second-width}) {
    @content;
  }
}
.top{
  background-image: linear-gradient(90deg, rgb(90, 16, 187) 0%, #8293ff 52%, #503bff 100%);
  font-family: 'Trochut';
  font-weight: bold;
  font-stretch: ultra-expanded;
  color: none;

}

.parent-detail{
 border: 1px #503bff solid;
 width: 50.1vw;
  height: 70vh;
  margin: 30px;
  box-shadow: 10px 20px 32px -7px rgba(0,0,0,0.62);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.react-multi-carousel-list{
  width: 50vw;
  height: 60vh;
  border-radius:5px ;
  z-index: 0;
img{
  height: 500px;
  border-radius:10px ;
}

}
.parent-i{
  width:50px;
  height: 50px;
  border-radius:25px;
  color: white;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 10px;
  
}

.icon-cont {
  display: flex;
  width: 40vw;
  border-radius: 15px;
  border: white 2px;
  transform: scaleZ(1.5) scaleY(1.5) scaleX(1.5);
  justify-content: space-evenly;
  background-image:none;
  flex-direction: row;
  margin-left: 4vw ;



}
.parent-icon:hover {
  color: fade-in($color: #e100ff, $amount: 1);
  transform: scaleZ(2) scaleY(2) scaleX(2);

}
.info{
  text-align: end;
  width: 50vw;
  margin: 30px;
  background-color: (90deg, rgb(90, 16, 187) 200%, #596ee4 3%, #c13bff 40%);
  padding: 30px;
  box-shadow: 10px 20px 32px -7px rgba(0,0,0,0.62);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-family: 'Trochut';
  font-weight: bold;
  font-stretch: ultra-expanded;
}
